@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: vazir;
  src: url(assets/fonts/vazir-font-v16.1.0/Vazir.woff);
}

@font-face {
  font-family: vazirDig;
  src: url(assets/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-FD-WOL.woff2);
}

body {
  margin: 0;
  font-family: vazirDig,vazir,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
